<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DELICIOUS</string>
	<string>STICK</string>
	<string>FISH</string>
	<string>PASTA</string>
	<string>HANGEDMAN</string>
	<string>LOVE</string>
	<string>GIRAFFE</string>
	<string>MANATEE</string>
</array>
</plist>
